
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 700;
}

:root{
    --azul-titulos: #232C50;
    --azul-subtit: #232851;
    --naranja-botones: #F3603B;
    --naranja-foot: #F3613C;
    --black-texto: black;
    --grey-texto: #B9B9C1;
    --lightgrey-fondo: #FAFAFA;
    --grey-fondo: #1E1E26;
    --rojo-palido: rgb(255, 239, 234);
}

header div{
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    padding: 45px 150px;
}

header div nav ul{
    list-style-type: none;
    display: flex;
    width: 380px;
}

header div nav ul li{
    font-weight: 500;
    padding: 10px;
}

a{
    background-color: var(--naranja-botones);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-style: none;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    padding: 10px;
    width: 135px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    font-size: 0.8rem;
    display: inline-block;
}

a:hover{
    opacity: 50%;
}

main .different, main .sales{
    padding: 40px 150px;
}

main .different, main .sales {
    display: flex;
    justify-content: space-between;
    
}

.sales div, .different div{
    width: 45%;
}

.sales div h1{
    color: var(--azul-titulos);
    font-size: 3.6rem;
}

.sales div p, .different div p{
    padding-right: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sales div img{
    width: 100%;
}

.different div h3{
    color: var(--azul-titulos);
    font-size: 2.25rem;
    padding: 5px 0px;
}

.different div ol{
    list-style-type: none;
    counter-reset: list-counter;
}

.different div ol li::before{
    counter-increment: list-counter;
    content: "0"counter(list-counter);
    background-color: var(--naranja-botones);
    color:white;
    padding:7px 25px;
    border-radius: 20px;
    left: -85px;
    position: absolute;
    
}
.different div ol li{
    position: relative;
}

.different div ol li p{
    color:var(--grey-texto);
    font-weight: 500;
    line-height: 25px;
}

.opinion {
    text-align: center;
    padding:0px;
}
.opinion h3{
    color:var(--azul-titulos);
    font-size: 2.5rem;
    margin: 50px 0px;
}

.opinion-div{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}


.opinion div div{
    position:relative;
    background-color: var(--lightgrey-fondo);
    width: 32%;
    padding: 50px 20px;
}

.opinion div div:nth-child(4){
    display: none;
}

.opinion #links{
    display: none;
}
.opinion div div img{
    width: 70px;
    height: 70px;
    position: absolute;
    top:-35px;
    left:calc(50% - 35px);
}

.opinion div div p{
    color: var(--grey-texto);
    font-weight: 600;
    margin-top: 10px;
}

footer{
    color:white;
    margin-top: 50px;
    
}

footer div.foo-up{
    align-items: center;
    background-color: var(--naranja-foot);
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

footer div.foo-up h3{
    font-size: 2.5rem;
    width: 40%;
    font-weight: lighter;
    line-height: 48px;
}

footer div.foo-up a{
    background-color:white;
    color: var(--naranja-foot);
}

footer div.foo-down{
    background-color: var(--grey-fondo);
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    list-style-type: none;
    height: 230px;
    font-weight: lighter; /* ver esto!! */
}

footer ul{
    list-style-type: none;
}
footer div.foo-down div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer div.foo-down div object{
     color:white; /* ver esto!! */
}
footer div.foo-down div ul{
    display: flex;
}

footer div.foo-down div ul li{
    padding:5px;
    
}

footer div.foo-down nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    
}

footer div.foo-down nav ul li{
    margin:5px;
    font-weight: 400;
}

footer div.foo-down div form input{
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border-style: none;
}

footer div.foo-down div form a{
    width: 50px;
    padding: 7px;
}

@media (max-width:800px){

    html{
        font-size: 12px;
    }

    header div{
        padding: 30px 20px 10px 20px;
        justify-content: space-between;
    }

    header div::after{
        content: url(../imagenes/icon-hamburger.svg);
        
    }

    header div nav, header div a{
        display: none;
    }
    
    main {
        padding: 10px 30px;
    }

    main .different, main .sales{
        padding: 20px 30px;
    }

    main .sales{
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    .sales div, .different div{
    width: 95%;
    }

    .sales div h1{
        font-size: 2.6rem;
    }
    
    .sales div p, .different div p{
        
        padding: 30px 20px 30px 20px;
        
        color: var(--grey-texto);
    }

    main .different{
    flex-wrap: wrap;
    }

    .different div{
        text-align: center;
    }

    .different div ol{
        text-align: left;
    }

    
    .different div ol li h4{
        background-color: var(--rojo-palido);
        padding: 7px 5px 7px 70px;
        margin-left:1rem;
        
    }

    .different div ol li::before{
        left: 0px;
    }

    .opinion-div{
        position: relative;
        display: block;
        text-align: center;
        height: 200px;
        margin-bottom: 25px;
    }

    .opinion .opinion-div div{
        display: block;
        position: absolute;
        top: 20px;
        opacity: 0;
        width: 60%;
        left:20%;
    }

    .opinion #links{
        display: block;
        
    }

    .opinion #links a{
        width: 1rem;
        height: 1rem;
        background-color: var(--lightgrey-fondo);
        padding:5px;
        margin: 5px;
        margin-bottom: 25px;
        box-shadow: none;
        border: var(--naranja-botones) 1px solid;
    }

    .opinion .opinion-div div:nth-child(4){
        display: block;
    }

    .opinion .opinion-div div:nth-child(1){
        opacity: 1;
    }

    .opinion .opinion-div div:target{
        opacity: 1;
    }


    .opinion #links a:focus{
        background-color:var(--naranja-botones);
    }

    footer div.foo-up {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 5px;
    }

    footer div.foo-up h3{
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 30px;
    }

    footer div.foo-down {
        flex-direction: row;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 5px;
        height: 400px;
    }

    footer div.foo-down div, footer div.foo-down nav {
        width:80%;
    }
    footer div.foo-down nav {
        width:40%;
    }
    .social{
        align-items: center;
    }
}